body{
    font-family: helvetica;
    max-width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
h2{
    font-weight: bold;
}
.container-fluid{
    padding: 0;
    margin: 0;
    max-width: 100% !important;
    overflow: hidden;
}
.slide1 h1{
    text-align: center;
    width: 770px;
    margin: 0 auto;
    padding-top: 128px;
    font-size: 40px;
}
.slide1{
    height: 100vh;
    background-image: url('../img/usa.jpg');
    background-repeat: no-repeat;
    margin-bottom: 60px;
    color: white;
}
.slide1 p{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*---------------------------------*/
.blueButton {
  background-color: #4db1e2;;
  border: solid 1px #ffffff;
  color: white;
}
.whiteButton{
    color:#4db1e2;
    background: white;
}
.formButton{
  width: 120px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 9px 9px;
  border-radius: 25px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
}
.slide2 img{
    width: 76px;
    margin: 0 auto;
    margin-top: 55px;
}
.slide2 p{
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
}
.slide2 h3{
    font-size: 24px;
    margin:35px 0;
}
.slide2 .formButton{
    margin-top: 50px;
    margin-bottom: 400px;
}
.slide3 .whiteButton{
    margin-top: 50px;
}
.laptop{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    margin-top: -300px;
}
.laptop h2{
    color: black;
}
.laptop img{
    max-width: 100%;
    display: block;
    margin-top: -90px;
    
}
.slide3{
    background-image: linear-gradient(to bottom, #273b4c, #0c89b2);
    color: white;
    padding-bottom: 65px;
}
.slide3 h1{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 390px;
}
.slide4 h2:first-child{
    margin-top: 60px;
    margin-bottom: 40px;
}
.freeBlock{
    border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #4db1e2;
    padding: 40px 20px;
    margin-bottom: 50px;
}
.freeBlock h2{
    color: #4db1e2;
}
.payBlock{
    border-radius: 4px;
  background-color: #4db1e2;
    color: white;
    margin-bottom: 50px;
    padding: 42px 22px;
}
