body{
    font-family: helvetica;
    max-width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
h2{
    font-weight: bold;
    font-size: 40px;
}
.container-fluid{
    padding: 0;
    margin: 0;
    max-width: 100% !important;
    overflow: hidden;
}
.modal-footer{
    border-top: none;
}
.modal-body input{
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px solid #c1c1c1;
}
.modal-body a{
    text-align: left;
    padding-left: 4px;
    margin-top: 10px;
     color: white;
}
.checkPlease{
    color:#32C73C;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 80px;
}
#loginBut{
    border: 2px solid #2db236;
    color: #2db236;
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 7px;
    text-align: center;
/*    #ed9c58*/
    background: white;
    box-shadow: 6px 7px 13px -2px rgba(34,214,76,0.48);
}
.checkPlease span{
    border-top: 2px solid #32C73C;
    padding-top: 5px;
    
}
.landing{
    min-height: 100vh;
}
.iphone{
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.logo{
    width: 150px;
    margin: 10px auto;
    display: block;
    
}
.landingForm{
    padding-top: 60px;
    background: rgba(28,201,40,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,201,40,1)), color-stop(0%, rgba(28,201,40,1)), color-stop(99%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(top, rgba(28,201,40,1) 0%, rgba(28,201,40,1) 0%, rgba(145,232,66,1) 99%);
    background: linear-gradient(to bottom, rgba(28,201,40,1) 0%, rgba(28,201,40,1) 0%, rgba(145,232,66,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cc928', endColorstr='#91e842', GradientType=0 );
    min-height: 100vh;
}
.landing .info{
    margin-top: 30px;
    padding: 0 60px;
    min-height: 100%;
}
.landing .info p{
    margin-bottom: 50px;
    font-size: 20px;
    margin-top: 30px;
}
.landing h1{
    font-size: 46px;
    font-weight: normal;
    color: #2db236;
    text-align: center;
    margin-bottom: 30px;
}
.submitBut{
    background: #3ecc48;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}
#regBut{
    background: #3ecc48;
    color: white;
    border: none;
    padding: 16px 40px;
    display: block;
    width: 300px;
    text-align:center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
#signup{
    display: none;
}
@media only screen and (max-width: 1060px){
    .payBlock{
            padding: 52px 22px;
    }
    .slide1{
        height: 60vh;
    }
    .laptop div{
        margin-left: -3%;
    }

}
